# Redis (GCP VM)
REDIS_HOST=136.116.157.248
REDIS_PORT=6379
REDIS_PASSWORD=Shubham@2311

# Instagram Account (fresh account for suggestions only)
IG_COOKIES=PASTE_COOKIES_HERE
IG_CSRF_TOKEN=PASTE_CSRF_HERE
IG_APP_ID=936619743392459
