# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Instagram Account (get from browser DevTools → Network tab → Cookies)
IG_COOKIES=csrftoken=xxx; datr=xxx; ig_did=xxx; mid=xxx; dpr=1.5; ds_user_id=xxx; sessionid=xxx; rur=xxx
IG_CSRF_TOKEN=xxx
IG_APP_ID=936619743392459
